.loader {
  fill: var(--color-accent);
  width: 16px;
  height: 16px;
  transform-origin: center center;
  animation: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
