.filtered-credential-list {
  margin-bottom: 12px;
  display: flex;
  justify-content: stretch;

  &--search {
    flex: 1;
  }

  &__item {
    margin-bottom: 12px;
  }

  &__empty-list {
    color: var(--color-accent);
    text-align: center;
  }
}
