<div class="filtered-credential-list">
  <div class="filtered-credential-list--search">
    <app-search (onQueryChanged)="onFilterQueryChanged($event)" placeholder="Search credentials..."></app-search>
  </div>
</div>
<div class="filtered-credential-list__list">
  <div
    class="filtered-credential-list__item"
    *ngFor="let credential of filteredCredentials">
    <app-credential
      [credential]="credential"
    ></app-credential>
  </div>
  <div
    *ngIf="filteredCredentials.length == 0"
    class="filtered-credential-list__empty-list"
  >
    <p>Nothing to see here!</p>
  </div>
</div>
