<div class="credentials">
  <h1 class="credentials__title">pwman</h1>
  <app-filtered-credential-list></app-filtered-credential-list>
  <app-floating-button icon="icon-plus" (click)="onCreateCredentialClicked()"></app-floating-button>
  <app-modal (close)="onCloseCreateCredentialModal()" *ngIf="createCredentialModalOpen">
    <app-create-credential (create)="onCreateCredentialFormSubmitted($event)"></app-create-credential>
  </app-modal>
  <app-modal *ngIf="!encryptionKeyIsLoaded()">
    <app-enter-encryption-key></app-enter-encryption-key>
  </app-modal>
  <app-modal
    *ngIf="receivedSharedCredential != '' && encryptionKeyIsLoaded()"
    (close)="onReceivedSharedCredentialModalClosed()"
  >
    <app-received-shared-credential
      [encryptedCredential]="receivedSharedCredential"
      (submit)="onReceivedSharedCredentialSubmitted()"
    ></app-received-shared-credential>
  </app-modal>
</div>
