.icon-button {
  position: relative;

  &__button {
    background: transparent;
    padding: 0;
  }

  &__button:hover ~ &__tooltip {
    display: block;
  }

  &__tooltip {
    position: absolute;
    background-color: var(--color-accent);
    color: var(--color-bg);
    font-size: 9pt;
    display: none;
    top: -36px;
    left: 12px;
    padding: 6px;
    border-radius: 6px 6px 6px 0;
    filter: drop-shadow(0 4px 12px rgba(0,0,0,0.2));
  }
}
