<form class="form" [formGroup]="createCredentialForm" (ngSubmit)="onSubmit()">
  <h3 class="form__title">Create credential</h3>
  <input
    class="form__input"
    type="text"
    placeholder="Name"
    formControlName="name"
  />
  <input
    class="form__input"
    type="text"
    placeholder="Username"
    formControlName="username"
  />
  <input
    class="form__input"
    type="password"
    placeholder="Password"
    formControlName="password"
  />
  <div class="form__button">
    <app-success-button text="Save"></app-success-button>
  </div>
</form>
