.form {
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 0;
    margin-bottom: 12px;
    text-align: center;
  }

  &__input {
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }

  &__button {
    margin-top: 12px;
  }
}
