<div class="credential" *ngIf="credential!!">
  <div class="credential__preview" (click)="toggleShowCredentialDetails()">
    <p class="credential__name" >{{ credential.name }}</p>
    <div class="credential__controls">
      <div class="credential__delete-button">
        <app-icon-button
          icon="icon-bin"
          (click)="onDeleteCredentialClicked()"
        ></app-icon-button>
      </div>
      <div class="credential__share-button">
        <app-icon-button
          icon="icon-share2"
          (click)="onShareClicked()"
        ></app-icon-button>
      </div>
    </div>
  </div>
  <div class="credential__details" *ngIf="showCredentialDetails" [@inOutAnimation]>
    <div *ngIf="credential.hasUsername()" class="credential__username">
      <p class="credential__username--label">Username</p>
      <input type="text" [readOnly]="true" [value]="credential.username" />
    </div>
    <app-cta-button text="Copy password" (click)="onCopyPasswordClicked()"></app-cta-button>
  </div>
  <app-modal
    *ngIf="showCredentialRemovalConfirmationModal"
    (close)="onCloseCredentialRemovalConfirmationModal()"
  >
    <app-confirm-credential-removal
      [credential]="credential"
      (confirm)="onDeleteCredentialConfirmed()"
    ></app-confirm-credential-removal>
  </app-modal>
  <app-modal *ngIf="sharedCredential" (close)="sharedCredential = undefined">
    <app-shared-credential [sharedCredential]="sharedCredential"></app-shared-credential>
  </app-modal>
</div>
<app-loader *ngIf="!credential"></app-loader>
