.enter-key-form {
  display: flex;
  flex-direction: column;
  position: relative;

  &__title {
    margin-top: 0;
    text-align: center;
  }

  &__input {
    margin-bottom: 12px;
  }

  &__error-prompt {
    font-size: 10pt;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 4px;
    color: var(--color-danger);
  }
}
