<div class="shared-credential-form" *ngIf="sharedCredential">
  <h3 class="shared-credential-form__title">Share credential</h3>
  <div class="shared-credential-form__input">
    <span class="shared-credential-form__input--label">
      <app-icon name="icon-key"></app-icon>
    </span>
    <input type="text" [readOnly]="true" [value]="sharedCredential.key" />
  </div>
  <div class="shared-credential-form__input">
    <span class="shared-credential-form__input--label">
      <app-icon name="icon-link"></app-icon>
    </span>
    <input type="text" [readOnly]="true" [value]="sharedCredential.link" />
  </div>
</div>
