<div class="received-shared-credential-form">
  <h3 class="received-shared-credential-form__title">Add linked credential</h3>
  <form [formGroup]="receivedSharedCredentialForm" (ngSubmit)="onReceivedSharedCredentialFormSubmitted()">
    <p
      class="received-shared-credential-form__error-prompt"
      *ngIf="errorPrompt !== ''"
    >{{ errorPrompt }}</p>
    <input
      class="received-shared-credential-form__input"
      type="password"
      placeholder="Encryption key"
      formControlName="encryptionKey"
    />
    <app-success-button text="Continue"></app-success-button>
  </form>
</div>
